<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Amadon</title>
</head>

<body class="w-50 my-3 mx-auto">
    <div class="card bg-dark border text-light p-5">
        <h3 class="mb-5">Thank you for your business!</h3>
        <p>We charged your credit card for {{total_charge}}$</p>
        <p>You have ordered {{total_items}} items so far and spent {{total_spent}} with Amadon.com!</p>
        <p><a href="/" class="btn btn-light btn-outline-success my-3">Go Back</a></p>
    </div>
</body>

</html>