<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>C+R Users</title>
</head>

<body>
    <div class="container d-flex flex-column justify-content-evenly text-center my-4">
        <h1 class="text-danger">All the Users</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                </tr>
            </thead>
            {%for user in users%}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email_address}}</td>
                <td>{{user.age}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <hr>
    <div class="container d-flex flex-column justify-content-center text-center my-4">
        <h2 class="text-danger">Add a User</h2>
        <form action="/createUser" method="post" class="form-group form-control">
            {% csrf_token %}
            <div class="m-3 d-flex justify-content-center align-items-center">
                <label for="fname">First Name </label>
                <input type="text" name="fname" class="m-1">
                <label for="lname">Last Name </label>
                <input type="text" name="lname" class="m-2">
            </div>
            <div class="m-3 d-flex justify-content-center align-items-center">
                <label for="email">Email </label>
                <input type="email" name="email" class="m-3">
                <label for="age">Age </label>
                <input type="number" name="age" class="m-3">
            </div>
            <input type="submit" value="Add" class="col-1 bg-dark text-light">
        </form>
    </div>
</body>

</html>