<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Great Number Game</title>

</head>

<body>
    <div class="d-flex row p-5 m-3 bg-light text-center ">
        <h1 class="display-6">Welcome to the great number game!</h1>
        <h2 class="lead">I am thinking of a number between 1-100</h2>
        <p class="lead">Take a guess!</p>
        <p>{{request.session.counter}} attempt(s)</p>

        {% if request.session.counter >= 5 %}
        <p>You Lose</p>
        <a class="btn btn-dark text-white w-10 mx-auto" role="button" href="/again">Play again</a>
        {% endif %}
        {% if request.session.number != 0 %}
        {% if request.session.random == request.session.number %}
        <div class="container d-flex flex-column justify-content-center text-gray fs-4">
            <p class="rus bg-success card h1 p-sm-4 text-white justify-content-center">You guessed it 👏 <br> the number was: {{request.session.random}}</p>
            <a href="/again"><button type="button" class="btn btn-dark btn-md m-2">Play again</button></a><br>
        </div>
        {% elif request.session.random > request.session.number %}
        <div>
            <p class="rus bg-danger card h1 p-sm-4 text-white justify-content-center m-3">Too low</p>
        </div>
        {% else %}
        <div>
            <p class="rus bg-danger card h1 p-sm-4 text-white justify-content-center m-3">Too high </p>
        </div>
        {% endif %}
        {% endif %}
        <hr class="my-3" />
        {% if request.session.random != request.session.number and request.session.counter < 5 %} 
        <form action="/guess" method="post" class="mb-3">
            {% csrf_token %}
            <input type="text" name="number" id="txt" class="form-control border border-dark w-25 mx-auto" required>
            <button type="submit" id="btn" class="btn btn-dark btn-md m-2">Submit</button>
        </form>
            {% endif %}
    </div>
</body>

</html>