<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Books & Authors</title>
</head>

<body>
    <div class="d-flex card justify-content-center col-sm-5 mx-5 my-4 p-4">
        <h2>{{books.title}}</h2>
        <h5>ID: {{books.id}}</h5>
        <h5>Describtion:</h5>
        <p>{{books.desc}}</p>
        <h5>Authors:</h5>
        <ul>
            {% for author in books.authors.all %}
            <li>{{author.first_name}} {{author.last_name}}</li>
            {% endfor %}
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            <select name="select_author" id="sa" class="form-select">
                <option value="" selected>-add an author-</option>
                {% for author in authors %}
                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-dark col-3 my-2">Add</button>
        </form>
    </div>
</body>

</html>