<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Books & Authors</title>
</head>

<body>
    <div class="d-flex card col-sm-4 mx-5 my-4 p-4">
        <h2>{{authors.first_name}} {{authors.last_name}}</h2>
        <h5>ID: {{authors.id}}</h5>
        <h5>Notes:</h5>
        <p>{{authors.notes}}</p>
        <h5>Books:</h5>
        <ul>
            {% for book in authors.books.all %}
            <li>{{book.title}}</li>
            {% endfor %}
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            <select name="select_book" id="sa" class="form-select">
                <option value="" selected>-select a book-</option>
                {% for book in books %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-dark col-3 my-2">Add</button>
        </form>
    </div>
</body>

</html>