<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Login & Registration</title>
</head>

<body class="bg-dark">

    {% if messages %}
    <h5 class="messages text-danger my-4 mx-4 px-5">
        {% for message in messages %}
        {% if message.tags %} <p class="{{ message.tags }}" {% endif %}>- {{ message }}
        {% endfor %}
    </h5>
    {% endif %}
    <div class="containter my-3 mx-auto w-50 d-flex justify-content-center">
        <div class=" align-items-center container p-5 col-7 my-4 bg-light">
            <h1>Registration</h1><br>
            <form action="/reg" method="post">
                {% csrf_token %}
                <div class="mb-3 ">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" name="fname" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" name="lname" class="form-control" required>
                </div>
                <div class="mb-3 ">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password</label>
                    <input type="text" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="confirm-pwd" class="form-label">Confirm Password</label>
                    <input type="text" name="conf_pwd" class="form-control" required>
                </div>
                <div class="text-end mx-5">
                    <button class="btn btn-outline-danger">Register</button>
                </div>
            </form>
        </div>
        <div class="form-group align-items-start container my-4 p-5 row-4 bg-light">
            <h1>Login</h1><br>
            <form action="/login" method="post" class="form-group">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3 ">
                    <label for="pwd" class="form-label">Password</label>
                    <input type="text" name="password" class="form-control" required>
                </div>
                <div class="text-end mx-5">
                    <button class="btn btn-outline-danger">Log In</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>