<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

    <title>Counter</title>
</head>

<body>
    <div class="d-flex row p-5 m-3 text-center ">
    <h1>Counter</h1>
    <p>{{request.session.counter}} times</p>
    <form action="/destroy_session">
    <button type="submit" class="btn btn-primary btn-md m-2 w-30">Reset</button>
</form>
</div>
</body>

</html>